/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 10px;
  min-height: 6px;
  font-weight: bold;
}

window#waybar {
  background: rgba(14, 15, 16, 0.2);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#pulseaudio,
#network,
#battery {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#pulseaudio {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#disk,
#battery {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #89b4fa;
  background: #161320;
  padding-right: 17px;
}

#clock {
  background: #161320;
  color: #89b4fa;
}

#cpu {
  background: #161320;
  color: #89b4fa;
}

#memory {
  background: #161320;
  color: #89b4fa;
}

#disk {
  background: #161320;
  color: #89b4fa;
}

/* Modules center */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #b5e8e0;
  background: transparent;
  padding: 4px 4px;
  font-weight: bold;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease,
    transform 0.3s ease;
}

#workspaces button.occupied {
  color: #a6e3a1;
}

#workspaces button.active {
  color: #89b4fa;
  text-shadow: 0 0 4px #abe9b3;
}

#workspaces button:hover {
  color: #89b4fa;
}

#workspaces button.active:hover {
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#pulseaudio {
  color: #89b4fa;
  background: #161320;
}

#network {
  color: #89b4fa;
  background: #161320;
  padding-right: 13px;
}

#battery {
  color: #89b4fa;
  background: #161320;
  padding-right: 15px;
}

#battery.charging {
  color: #89b4fa;
  background: #161320;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}
